<p>{{sizeAndColorLabel}} : item </p>
<table id="table-size-and-color" class="table table-bordered">
    <tr>
        <th>SKU</th>
        <th>Size</th>
        <th>Color</th>
        <th>Stock</th>
        <th>Min. stock</th>
        <th>EAN</th>
        <th></th>
    </tr>
    {{#sizeAndColorVariations}}
    <tr id="{{id}}">
        <td>
            {{{skuElement}}}
        </td>
        <td>
            {{{sizeElement}}}
        </td>
        <td>
            <div class="input-group colorpicker">
                {{{colorElement}}}
                <span class="input-group-prepend"><i></i></span>
            </div>
        </td>
        <td>
            {{{stockElement}}}
        </td>
        <td>
            {{{stockMinimalElement}}}
        </td>
        <td>
            {{{eanElement}}}
        </td>
        <td>
            <a href="#" class="btn btn-danger delete" id="delete_{{id}}">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    {{/sizeAndColorVariations}}
    <tr id="size-and-color-baserow">
        <td>
            {{{skuBaseElement}}}
        </td>
        <td>
            {{{sizeBaseElement}}}
        </td>
        <td>
            <div class="input-group color-picker">
                {{{colorBaseElement}}}
                <span class="input-group-prepend"><i></i></span>
            </div>
        </td>
        <td>
            {{{stockBaseElement}}}
        </td>
        <td>
            {{{stockMinimalBaseElement}}}
        </td>
        <td>
            {{{eanBaseElement}}}
        </td>
        <td>
            <a href="#" class="btn btn-danger delete">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
</table>
<button id="size-and-color-add-button" class="btn btn-default btn-block">
    add variation
</button>
<p>{{sizeAndColorLabel}} : images </p>
<div class="row">
    {{#sizeAndColorImages}}
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-header">
                    <div style="background-color:{{color}};height:15px;width:15px;display:inline-block"></div> {{color}}
                </div>
                <div class="card-block" style="overflow:hidden;text-align: center">
                    {{#image}}
                        <img src="/uploads/{{ACCOUNT}}/{{image}}?h=150" />
                    {{/image}}
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input
                            id="size-and-color-image-{{id}}"
                            class="form-control"
                            name="{{name}}"
                            value="{{image}}"
                            readonly="readonly"
                            type="text"
                        />
                        <span class="input-group-prepend">
                            <a id="btn_size-and-color-image-{{id}}" href="/filemanager/index" class="openfilemanager">
                                filemanager
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {{/sizeAndColorImages}}
</div>
